@model Conference

@{
    ViewData["Title"] = "Conference Details";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Conference #@Model.ID Details</h2>
    </div>
</div>

<div class="p-4 border rounded">
    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>ID</th>
                <th> Conference Name</th>
                <th>Date</th>
                <th>Papers</th>
                @if (User.IsInRole(EConference.Utility.SD.Role_Admin) || User.IsInRole(EConference.Utility.SD.Role_Conference_Manager))
                {
                    <th>Options</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.ID</td>
                <td>@Model.Name?.Name</td>
                <td>@Model.ScheduledDate</td>
                <td>@(Model.Papers?.Count ?? 0)</td>
                @if (User.IsInRole(EConference.Utility.SD.Role_Admin) || User.IsInRole(EConference.Utility.SD.Role_Conference_Manager))
                {
                    <td >
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
                    </td>
                }

            </tr>
        </tbody>
    </table>
    <br />
    <h3>Papers in this conference</h3>
    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>Paper ID</th>
                <th>Topic</th>
                <th>Title</th>
                <th>Publisher</th>
                <th>Participant</th>
                <th>Time Zone</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Papers p in Model.Papers ?? Enumerable.Empty<Papers>())
            {
                <tr>
                    <td>@p.PaperId</td>
                    <td>@EConference.Models.PaperTopic.Get(p.PaperTopic).Name</td>
                    <td>@p.PaperTitle</td>
                    <td>@p.Publisher</td>
                    <td>@p.Participant</td>
                    <td>@TimeZoneInfo.FindSystemTimeZoneById(p.TimeZone).DisplayName</td>
                    <td>@p.Country</td>
                </tr>
            }
        </tbody>
    </table>
</div>
