@model EConference.Models.RegisterPaper

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RegisterPaper</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaperId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaperId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaperTopic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaperTopic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaperTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaperTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Participant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Participant)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
